.DataContainer {
  width: 100%;
  min-height: 3em;
  display: flex;
  border-bottom: 2px solid #d8d8d852;
  padding: 6px 8px;
  align-items: center;
  cursor: pointer;
  }
  .Name {
    font-size: 15px;
    color: #000;
    margin-left: 10px;
    flex: 2;
    display: flex;
  }
  .precio {
    font-weight: 600;
    color: cadetblue;
  }

@media screen and (max-width: 1024px) {
  .DataContainer {
    font-size: .9em;
  }
}